<p> Welcome to Bookmark Manager! <p>

  Sing Up below!!!!!!

  <form action='/new_user' method='POST'>
    <label for='username'>
      Email:
      <input type='text' name='username'/>
    </label>
    <label for='password'>
      Password:
      <input type='text' name='password' type="password"/>
    </label>
    <label for='password'>
      Confirm password:
      <input type='text' name='password_confirmation' type="password"/>
    </label>
    <input type='submit' value='Sign Up'>
  </form>
